[submodule "batch_verification/auto_LiRPA"]
	path = batch_verification/auto_LiRPA
	url = https://github.com/Verified-Intelligence/auto_LiRPA.git
[submodule "batch_verification/alpha-beta-CROWN/complete_verifier"]
	path = batch_verification/alpha-beta-CROWN/complete_verifier
	url = https://github.com/Verified-Intelligence/alpha-beta-CROWN.git
