[submodule "batch_verification/src/alpha-beta-CROWN"]
	path = batch_verification/src/alpha-beta-CROWN
	url = https://github.com/Verified-Intelligence/alpha-beta-CROWN.git
[submodule "batch_verification/batch_verification/alpha-beta-CROWN"]
	path = batch_verification/batch_verification/alpha-beta-CROWN
	url = git@github.com:Verified-Intelligence/alpha-beta-CROWN.git
[submodule "batch_verification/alpha-beta-CROWN"]
	path = batch_verification/alpha-beta-CROWN
	url = git@github.com:Verified-Intelligence/alpha-beta-CROWN.git
